<section class="listmanagement__container">
    <div class="tasklist__buttoncontainer">
        <button class="tasklist__button blue" (click)="onEditListClick()">Create List</button>
    </div>
    <ul *ngIf="taskLists && taskLists.length" class="tasklist__listcont">
        <li *ngFor="let taskList of taskLists" class="tasklist__listentry">
            <div class="tasklist__actioncontainer">
                <span class="tasklist__counter">{{numberOpen(taskList)}}/{{taskList.taskList.length}}</span>
                <span class="tasklist__edit" (click)="onEditListClick(taskList)">Edit</span>
            </div>
            <a class="tasklist__action tasklist__view" [routerLink]="['/tasks', taskList.id]">
                <span class="tasklist__label">{{taskList.name}}</span>
            </a>
        </li>
    </ul>
    <div *ngIf="!taskLists || !taskLists.length">
        <p>Please create your first To-Do list</p>
    </div>
    <tasklist-edit [taskList]="currentlyEditedList"
                   (onListUpdated)="editListDetailResultObs.next($event)"
                   (onListUpdateError)="editListDetailResultObs.error($event)"></tasklist-edit>
</section>
