.listmanagement__container {
    padding: 10px;
}

.tasklist__listentry {
    width: 100%;
    text-align: left;
    border: 1px solid #bbb;
    margin-bottom: 5px;
    border-radius: 0.3em;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;

}

.tasklist__action {
    padding: 0.4em;
    width: 70%;
    display: inline-block;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}


.tasklist__actioncontainer {
    float: right;
    padding: 0.4em;
    background: #ddd;
}


.tasklist__counter {
    background: #e80;
    padding: 2px 5px;
    border-radius: 20%;
    font-size: 0.8em;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

.tasklist__buttoncontainer {
    margin-bottom: 1.2em;
    height: 20px;
    position: relative;
}

.tasklist__edit {
    cursor: pointer;
}

.tasklist__button {
    float:right;
}

.tasklist__listcont {
    margin-top: 1.2em;
}
