<div class="tasks__container">
    <h2 class="tasklist__headline">{{activeList.name}}</h2>
    <div class="tasks__backbutton-container">
        <button (click)="returnToList()">Back</button>
    </div>
    <ul *ngIf="activeList">
        <li *ngFor="let task of activeList.taskList" class="tasks__taskitem">
            <div class="task__action complete" (click)="onTaskCompletedClick(task)">&times;</div>
            <div class="task__description">
                <span [class.completed]="task.completed">{{task.description}}</span>
            </div>
        </li>
    </ul>
    <div *ngIf="activeList && !activeList.taskList.length">
        <p>No Tasks defined yet</p>
    </div>
    <div class="tasks__addInput" [formGroup]="addTasks">
        <textarea cols="40" rows="10" class="tasks__inputfield" formControlName="newTasks"></textarea>
        <button type="submit" (click)="formObservable.next(activeList)">Add tasks</button>
    </div>
</div>
