.tasks__container {
    max-width:320px;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}


.tasks__taskitem {
    position: relative;
    padding: 5px 10px;
    border: 1px solid #666;
    background: #fe8;
    border-radius: 3px;
    margin-bottom: 0.6em;
}

.task__action {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.task__description > span.completed {
    text-decoration: line-through;
    color: #bbb;
}

.tasklist__headline {
    margin: 1.2em 0 1em;
    font-size: 1.7em;
}

.tasks__backbutton-container {
    width: 100%;
    height: 20px;
    margin-bottom: 1.3em;
    position: relative;
}

.tasks__backbutton-container > button {
    position: absolute;
    right: 0;
}



