<div id="tasklist-edit" *ngIf="taskList !== null" class="tasklist__editcontainer">
    <h2>List editing</h2>
    <div [formGroup]="editForm">
        <ul>
            <li class="tasklist-edit__formfield">
                <label for="listname">List name</label>
                <input id="listname" formControlName="listname" />
            </li>
        </ul>
        <button type="submit" (click)="formSubmit.next(taskList)">Save</button>
        <button type="button" (click)="onCancelEdit()">Cancel</button>
    </div>
</div>
