<aside class="notifications__container" *ngIf="notification.message">
    <div [class]="notification.severity">
        <span class="notifications__action">&times;</span>
        <span class="notifications__message">{{notification.message}}</span>
    </div>
</aside>
